<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/jiffy_logo_unoutlined"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.InitActivity"
            android:label="@string/app_name"
            android:theme="@style/JiffyInit"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MainActivity"
            android:theme="@style/jiffyTheme">
        </activity>
        
        <activity 
            android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.EducationOverview"
            android:parentActivityName="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MainActivity" 
            android:theme="@style/jiffyTheme" />
            
        <activity 
            android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MsgRead"
            android:parentActivityName="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MainActivity"
            android:theme="@style/jiffyTheme" />
            
        <activity 
            android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MsgWrite"
            android:parentActivityName="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.activities.MainActivity"
            android:theme="@style/jiffyTheme" />
            
        <service android:name="de.fh_koeln.gm.mib.eis.dang_pereira.jiffy.service.MQTTService" />
    </application>

</manifest>
